div{
	width: 90%;
height: 100px;
margin: 10px;
color: white;
}
.transition{
	background: #0F3963;
	transition:all 1s linear;
}
.transition:hover{
	background: red;

}
.animation{
	background: #0378BB;
	animation-iteration-count: 2;
	animation-name: move;
	animation-duration: 15s;
	animation: move 5s infinite;

}
@keyframes move{
	0%{
		transform: translateX(20px);
	}
	50%{

		transform: translateX(100px);
		background: #6D6C74;

	}
	75%{

		transform: translateX(-200px);
		background: #A46057;
	}
	100%{

		transform: translateX(20px);
		background: #0378BB;
	}
}